conf/
logs/
sessions/
tmp/
node_modules/
!var/cache/.keepme
var/*
vendor/
www/bundles/
www/css/
www/js/
www/webassets/
.phpunit.cache/
phpunit.xml
snapshot.sql
.phpunit.result.cache
*.local
.php-cs-fixer.cache
